<!-- views/categories/edit.html.erb -->

<div class="edit_category_page">
    <div class="edit_category_navbar">
        <%= link_to categories_path do %>
         <%= fa_icon 'arrow-left', class: 'fa-solid', style: 'color: #ffffff;' %>
        <% end %>
        <h1>Edit Category</h1>
    </div>
  
  <%= render 'form', category: @category %>

</div>
